.create-container {
  display: flex;
  min-height: 85vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 32px;
}

.create-content {
  display: flex;
  gap: 32px;
  width: 100%;
  height: 85vh;
}

.create-display-wrapper {
  flex: 2;
  height: 85vh;
}

.create-controls-wrapper {
  flex: 1;
  height: 85vh;
}
