.Follow {
    background-image: url('../imgs/FollowBackground.png');
    background-size: cover;
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 100%; /* Adjust the width */
    z-index: 0;
    border-radius: 20px;
}

.names {
    position: relative;
    z-index: 1;
    color: white;
}

.names {
    display: flex;
    justify-content: center;
    padding: 10px;
}