
.Post {
    width: fit-content;
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Stack content vertically */
    background-color: transparent; /* Background color for the post */
    border: 1px solid white;
    color: white;
}

.Post::before {
    content: '';
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
}
.Post .content {
    margin:7px;
}
.Post p {
    margin: 7px 0;
    font-size: 12px;
}


.FractalImage {
    width: 100%; /* Adjust to fit the grid item */
    aspect-ratio: 1; /* Maintain a square aspect ratio */
    background-color: white; /* Placeholder color */
}