.tree-module {
  padding: 16px;
  margin-bottom: 16px;
  position: relative;
}

.tree-module-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.tree-module-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.tree-module-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.tree-module-parallel-close {
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  padding: 8px;
  align-items: center; /* Centers the icon within this div */
  justify-content: center;
  box-sizing: border-box; /* Ensure padding doesn't affect alignment */
}

.tree-module-close:hover {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(0, 0, 0, 0.04);
}

.expand-button {
  color: rgba(0, 0, 0, 0.54);
  transition: transform 0.3s ease;
  padding: 4px;
}

.expand-button.expanded {
  transform: rotate(90deg);
}

.tree-module-controls {
  margin-bottom: 12px;
}

.tree-module-control {
  width: 100%;
}

.tree-module-label {
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.tree-module-slider {
  width: 100%;
}

.tree-module-segments-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 8px;
}

.segments-title-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tree-module-list {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.tree-module-add {
  align-self: flex-end;
  /* color: #000000 !important; */
}

.tree-module-add:hover {
  background-color: rgba(25, 118, 210, 0.04) !important;
}

.tree-module-title-group {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tree-module-title-input {
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  background: transparent;
  padding: 4px 8px;
  border-radius: 4px;
  width: 200px;
  transition: background-color 0.2s;
}

.tree-module-title-input:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.tree-module-title-input:focus {
  background-color: rgba(0, 0, 0, 0.08);
  outline: none;
}
