@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.UserName p {
    padding-right:10px;
    color:white;
}

.UserName {
    display: flex;
    font-family: 'Monoton', monospace;
    align-items: center;
}

.icon {
    color: white;
}