@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

.UserName p {
  padding-right: 10px;
  color: white;
}

.UserName {
  display: flex;
  font-family: "Monoton", monospace;
  align-items: center;
}

.profile-link {
  text-decoration: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  object-fit: cover;
}

.content {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
